@import "{{ site.theme }}";

body{
    /*background-image: url(images/download.jpeg) */
    background-color:white;
}

h1{
    /*background-color:white; */
   
   font-family: 'Abril Fatface', cursive;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
    text-align:center;
}

p {
    text-align:center;
}

h2 {
    color:white;
    background-color: black;
    padding: 20px;
    font-family: 'Sarabun', sans-serif;
    text-align:center;
    }

img {
    width:455px;
    height:455px;
     border: 5px solid yellow;
}

