/* Overall Background */
 /* Hover Button Background Info */


    

body{ 

    /*background-image: url(images/download.jpeg) asdf */
    background-color: white; 

   /* background-image: url(images/download.jpeg) */
}

/* Title Font */
h1{
    /*background-color:white; */
   
    font-family: 'Abril Fatface', cursive;
    margin-top:0px;
    padding-top:0px;
    padding-bottom:23px;
    text-align:center;
    border-bottom: 5px dotted #555555;

}

h4 {
  font-size: 22px;
}
h3 {
  font-size: 28px;
}



p {

   /* text-align:center;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;*/
    text-align:center;
}

h2 {
    color:white;
    background-color: black;
    padding: 20px;
    font-family: 'Abril Fatface', cursive;
    text-align:center;
    }
h3 {
   /* text-align:center; */
}
img {
    width:355px;
    height:355px;
    border-style: solid;
    border-color: #FFEC8F;
    border-width: 7px;

}

/* Personal Flavour */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*padding-top: 25px; */
}

.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Separator */
 
.separator {

  margin-bottom: 0em;
  padding-bottom: 1.7em;
  text-align: center;

}

.separator:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 86px;
  height: 2px;
  background-color: #222;
 
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.separator.orange:before {
  background-color: #FEEF1A;
}

 /*Normal Button - Shop */
.button.inverted {
  font-size: inherit;
  padding: 25px 70px;
  color: white;
  height: auto;
  border: 3px solid yellow;
  text-transform: none;
  font-size: 26px;
  font-family: "Raleway";
  transition: .5s ease;
  
}

 /*Normal Button - Portfolio */
.button2.inverted {
  font-size: inherit;
  padding: 25px 70px;
  color: white;
  height: auto;
  border: 3px solid yellow;
  text-transform: none;
  font-size: 26px;
  font-family: "Raleway";
  transition: .5s ease;
  
}


 /*Normal Button - About This Site*/
.button3.inverted {
  font-size: inherit;
  padding: 25px 70px;
  color: white;
  height: auto;
  border: 3px solid yellow;
  text-transform: none;
  font-size: 26px;
  font-family: "Raleway";
  transition: .5s ease;
  
}

/* Hover Button for shop*/
.button.inverted:hover {
  background-color: rgba(0,0,0, .3); 
transition: .5s ease;

  border: 3px solid yellow;
  color: white;
}

/* Hover Button for portfolio*/
.button2.inverted:hover {
  background-color: rgba(0,0,0, .3);
  border: 3px solid yellow;
  transition: .5s ease;
  color: white;
}

/* Hover Button for about this site*/
.button3.inverted:hover {
  background-color: rgba(0,0,0, .3);
  border: 3px solid yellow;
  transition: .5s ease;
  color: white;
}

/* =Section general styling*/
 
section {
  text-align: center;
  padding: 80px 0 0;
}


 
/*
 
  Section with featured background image. Every section which will have this
  class will get the effect with a background cover.
 
*/
 
.featured-bg-image {
  position: relative;
  background-color: #222222;
  color: white;
  min-height: 500px;
}
 
.featured-bg-image:before {
  content: '';
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: .5;
}
 
 
.shop:before {
  background: url("photo/IMG_23342.jpg");
  background-position: 50% 0;
  min-height: 500px; 
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.portfolio:before {
   /* The image used */
  background: url("photo/IMG_2379.jpg");
  background-position: 50% 0;
  min-height: 500px; 
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutSite:before {
  background: url("photo/IMG_2494.jpg");
  background-position: 50% 0;
  min-height: 500px; 
  /* parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
 
}
 
.footer {
  background-color: #222222;
  color: white;
}


/* =Navigation
-------- */
 
.navigation {
  position: fixed;
  top: 0; left: 0; bottom: 0;
  height: 100%;
  z-index: 3;
  width: 320px;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
 
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
 
.navigation.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
 
.navigation ul {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background: #222;
}
.navigation ul li {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0;
}
.navigation ul li a {
  display: block;
  height: 100%;
  padding: 10px 0;
 
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 900;
}
 
/* color for inside the menu */

.navigation ul li a.current,
.navigation ul li a:hover {
  color: #FFFF00;
  background-color: transparent;
}
 

.menu-icon {
    width:65px;
    height:65px;
   /* background-image:url('photo/citrus.png'); */
   background-color: rgba(0,0,0, .3);
} 

.navigation .menu-icon {
  color: yellow;
  font-size: 30px;
  line-height: 1em;
 
  position: absolute;
  left: 100%;
  padding: 15px;
 
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}
 
 /* Colored block on the top left corner */
.navigation .menu-icon.active {
  background-color: rgba(0,0,0, .3);;
 /* this is the transparent one background-color: rgba(0,0,0, .3); */
}
.navigation .menu-icon:hover {
  color: yellow;
  background-color: black
}

/* Work Filters */
 
.work-filters {
  list-style: none;
}
.work-filters li {
  display: inline-block;
  margin: 0 .5em;
  font-size: 18px;
  text-transform: uppercase;
  
    font-family: 'Raleway';
}
.work-filters li a {
  color: inherit;
  text-decoration: none;
}
.work-filters li.active {
  
    font-family: 'Raleway';

/* Work items */
 
.work-items {
  list-style: none;
  width: 100%;
  display: inline-block;
}
.work-items li {
  position: relative;
  overflow: hidden;
  height: 360px;
 
  /* important because we need to overwrite the default skeleton */
  margin: 0!important;
  width: 33%;
  border: 10px solid white;
 
  position: relative;
}
.work-items li:nth-child(4n) {
  margin-left: 0;
}
.work-items li img{
  width: auto;
  height: 100%;
  display: block;
}
/* Work detail */
 
.work-detail {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
 
  opacity: 0;
  background: rgba(0,0,0,.75);
  color: white;
 
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
.work-detail h3 {
  font-size: 16px;
  letter-spacing: .05em;
}
.work-detail p {
  font-size: 20px;
  text-transform: capitalize;
  padding-left: 20px;
  padding-right: 20px;
}
 
.work-items li:hover .work-detail{
  opacity: 1;
  box-shadow: inset 0 0 0 10px #222;
}


/* Commission Examples -- gray */
 
.commission {
  list-style: none;
}
.commission li {
  display: inline-block;
  width: 18%;
  margin-right: 2%;
}
.commission li:last-child {
  margin-right: 0;
}
.commission li img {
  max-width: 100%;
  height: auto;
  display: block;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}




