/* Typography 

#a7978b background
#d0bbad*/

@font-face {
  font-family: 'GT-America-Extended-Black';
  src: url('otherCss/fonts/GT-America-Extended-Black.woff') format('woff'),
       url('otherCss/fonts/GT-America-Extended-Black.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body.top{
  background-color: #1B2835;
 margin-left: 0px;
       margin-top: 0px;
       margin-right: 0px;
       margin-bottom: 0px;
       height: 100%;
       width: 100%;
       overflow-x: hidden;
      
}

body.top:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: "";
    background-image: url(otherCss/noise.gif);
    opacity: .05;
    z-index: 100000;
    pointer-events: none;
}

::selection {
    background:#f6f9337a;
}
::-moz-selection {
    background:#f6f9337a;
}

/* Title Font */
h1{
    font-family: 'GT-America-Extended-Black';
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    width: 400px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*padding-top: 25px; */
}

.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Section general styling*/
 
section {
  text-align: center;
  padding: 10% 0 3%;
}

.footer {
  background-color: #1B2835;
  color: white;
  padding-top: 35px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

//media queries

@media (min-width: 400px)  and (max-width: 750px) {
  .work-items li.isotope-item.columns {
    width: 100%;
  }
}

  @media (min-width: 550px) and (max-width: 750px) {

  .work-items li.isotope-item.columns {
    width: 50%;
  }
}

.hpot {
  display: none;
}



/***************************** loader **********************************/


#loader {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0e161f;

  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#loader.is_loaded {
  height:0;
  opacity: 0;

  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

  display: none;
}


.loader-eylen{
  position: relative;
  top: 55%;
  text-align: center;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  width:auto;
  height:auto;
  z-index: 5;
  opacity: 0;


  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.loader-eylen img{
  width:100%;
  max-width: 500px;
  height:auto;

 
}

#loader.is_active .loader-eylen{
  opacity: 1;
  top: 50%;

  -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.loader-name h3,.loader-name p{
    position: absolute;
    font-size: 6.5vw;
    opacity: 0;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}


#loader.is_active .loader-name h3{
  opacity: 1;
  top:51%;
  -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}



.loader-name-outline h3{
  /*min-height: 150px;*/
  /*line-height: 100%;*/
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 7;
  font-size: calc(5em + 1vw);
  letter-spacing: -.8rem;
  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.loader-name-base h3{
  /*min-height: 150px;*/
  /*line-height: 100%;*/
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  /*opacity: 0;*/
  color: rgba(255,255,255,0.9);
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  -webkit-text-stroke: none;
  z-index: 4;
  font-size: calc(5em + 1vw);
  letter-spacing: -.8rem;
  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.loader-name-base p{
  padding-left: 70px;
  padding-top: 40px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    _::-webkit-full-page-media, _:future, :root .loader-name-base h3 {
        background-image: none;
    }
}

#loader p{
  margin: -40px 0 0 5.5%;
  text-align: left;
  color: white;
  font-family: 'GT-America-Extended-Black';
  font-weight: normal;
  font-style: normal;
  font-size: calc(1em + .5vw);
  letter-spacing: 0.8px;
  z-index: 6;
  opacity: 0;
}

#loader.is_active p{

  margin-top: 1vw;
  opacity: 1;
  -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}


/* Noise */
.noise{
/*  position: relative;*/
  background-image: url(otherCss/noise.gif);
  opacity: .09;
  height: 100%;
  overflow: scroll;
}

.bounce{
  animation: bounce 3s linear infinite;
  transform-origin: 50% 50%;
  margin: 1rem 0 !important;
}

@keyframes bounce {
  0% { transform: translateY(20px) }
  50% { transform: translateY(0px) }
  100% { transform: translateY(20px) }
}


/***************************** navigation **********************************/

.topnav img {
width: 60px;
left: 35%;
position: absolute;
height: auto;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}

.topnav{
  width: 300px; 
  line-height: 75px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'GT-America-Extended-Black';
    -webkit-text-stroke: .5px #fff;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.first-pic{
  margin-top: 250px;
}

.section-outline h2{
    min-height: 150px;
  line-height: 100%;
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 6;
  font-size: calc(5em + 1vw);
  float:left;

  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.section-base h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  -webkit-text-stroke: none;
  z-index: 4;
  font-size: calc(5em + 1vw);
  float: left;
  min-height: 150px;
  line-height: 100%;


  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}



.overlap-text h2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    letter-spacing: .1px;
    text-align: left;
}

.overlap-text.is_active h2{
  transform: translateY(-25%) scale(1.15);
  top:45%;
}


.overlap-text-outline-shop h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1.4px #fff;
  z-index: 7;
  font-size: 5vw;
  position: absolute;
  top: -1.7vw;
  left: 1.9vw;
}

.overlap-text-base-shop h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: -4;
  font-size: 5vw;
  position: absolute;
  top: -1.7vw;
  left: 1.9vw;
}

.overlap-text-outline-portfolio h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1.4px #fff;
  z-index: 7;
  font-size: 5vw;
  position: absolute;
  top: -1.7vw;
  right: -15.45vw;
}

.overlap-text-base-portfolio h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: -4;
  font-size: 5vw;
  position: absolute;
  top: -1.7vw;
  right: -15.45vw;
}

.overlap-text-outline-about h2{
  display: none;
}

.overlap-text-base-contact h2{
  display:none;
}

.overlap-text-base-about h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: 10;
  font-size: 50px;
  position: relative !important;
  top: -130px !important;
  left: 5px;
  display: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    _::-webkit-full-page-media, _:future, :root .overlap-text-base h2 {
        background-image: none;
    }
}


.duo-pic{
  width: 90%; 
  height: auto;
}

#about-me-pic{
  width: auto; 
  height: 200px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
  padding-right: 5%;
  padding-top: 3px;
}

/* image hover zoom */
section img.duo-pic:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

img.duo-pic {
    transition: transform .3s;
}


header{
  padding-top: 3vw;

}

#h1-title-span{
  z-index: -500;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 4.6rem;
    border-radius: 0.5rem;

}


.modal-content:active {
    display:block;
}

.modal-content h3{
  padding: 15px 35px; 
  font-family:'GT-America-Extended-Black';
  line-height: 40px;
  text-align: center;
}

.modal-content p{
   overflow: auto;
   text-align:left;
   color: black;
   line-height: 1.3em;
   font-size: .75em;
}

.about-contact-text .contact-us-form {
  font-size: 1vw;
}

.close-button {
    float: right;
    width: 3rem;
    height: 3rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 40px;
    position: relative;
    right: -35px;
    top: 5px;
    color: transparent;
    -webkit-text-stroke: 1.4px black;

}

.close-button:hover {
  color: black;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


.trigger:hover{
  color: #f9f933;
}


.about-me-desktop:hover {
  color: #f6f933e0
}

.w3-modal{
  z-index:500;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);
  
}

#contact-form-css {
  height: 100px;
    margin-top: 10px;
    line-height: 10px;
    padding-top: 5px;
}

.modal-content-contact {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 4.8rem;
    border-radius: 0.5rem;

}

.modal-content-contact h3{
  padding: 15px 35px 0px 35px;
  font-family:'GT-America-Extended-Black';
  line-height: 40px;
  text-align: center;
}

h3{
  color: black;
  font-family: 'Inconsolata', monospace;
}

#about-me-button{
  margin-top: 50px;
  transition: 0.3s;
  font-size: 18px;
}

 #footer-details{
  color:white; 
  font-family: 'Inconsolata', monospace; 
  text-align:center; 
  font-size: 2rem;
  margin-bottom: 0px;
 }

 #footer-pic{
  width:70px; 
  height:70px;
  margin-bottom: 15px;
  cursor: pointer;
 }

 .about-pic {
display: none;
 }

 .about-contact-text{
  font-size: 1.3vw;
  float: right;
  text-align: right;
  padding-top: 12px;
  display:block;
  color:white;
  line-height: 5px;
  display:block;
 }

.about-contact-text-mobile{
  font-size: 1.3vw;
  float: right;
  text-align: right;
  padding-top: 12px;
  display:block;
  color:white;
  line-height: 5px;
  display:block;
 }


#contact-section{
  display:none;
}

.about-me-desktop{
  cursor: pointer; 
  line-height: .75;
  margin-bottom: 1.2vw;
}

.fade-in-index{
  opacity: 1;
  animation-name: fadeInOpacityIndex;
  animation-iteration-count: 1;
  animation-timing-function: move 4300s ease-in;
  animation-duration: 2s;

}

@keyframes fadeInOpacityIndex{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

a {
  text-decoration: none;
}

/****************** Media Query: Max 549px; *******************/
@media only screen and (max-width: 549px) {
.duo-pic{
  width: 100%; 
  height: auto;
  padding-top: 40px;       
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.mobile-section-padding duo-pic:hover {
  -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.overlap-text-outline-shop h2, .overlap-text-outline-portfolio h2, .overlap-text-outline-about h2{
  display: none;
}

.mobile-section-padding{
  height: 280px;
  overflow: hidden;
}

.mobile-about-padding{
  padding-top:30px
}

.overlap-text-base-shop h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: 10;
  font-size: 50px;
  position: relative !important;
  top: -130px !important;
}

.overlap-text-base-portfolio h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: 10;
  font-size: 50px;
  position: relative !important;
  top: -130px !important;
  left: 5px;
}

.overlap-text-base-about h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: 10;
  font-size: 50px;
  position: relative !important;
  top: -130px !important;
  left: 5px;
  display: block;
}

.overlap-text-base-contact h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: 10;
  font-size: 50px;
  position: relative !important;
  top: 65px !important;
  display: block;
}


section{
  padding-top: 0px;
}

section#about-me{
  display:block;
 
}

section#footer{
  padding-top:10px !important;
}

h1{
  text-align:center;
}

header{
  padding-top: 5vw;
  position: relative;
  left: 0px;
}

#h1-title-span{
  z-index: -500;
  position: relative;
  left: -8px;
}

.modal-content h3{
  padding: 15px 35px; 
  font-family:'GT-America-Extended-Black';
  line-height: 35px;
  text-align: center;
}

.modal-content p{
   overflow: scroll;
   text-align: left;
   max-height: 480px;
   width: 235px;
   color: black;
   line-height: 1.5em;
   font-size: .95em;
}

.overlap-text.is_active h2{
  transform: translateY(-25%) scale(1.15);
  top: 45%;
}

#about-me-button {
    margin-top: 50px;
    transition: 0.3s;
    font-size: 18px;
    position: relative;
    top: -180px;
 }

 #footer-details{ 
  font-family: 'Inconsolata', monospace; 
  text-align:center; 
  font-size: 1.6rem;
  margin-bottom: 5px;
 }

 #footer-pic{
  width: 60px;
  height: 60px;
 }

 .about-pic {
  width: 100% !important;
  height: auto;
  position: relative;
  top: 0px;
  left: 0px;
  display: block;
 }

  .about-contact-text{
   display: none;
 }

   .about-contact-text-mobile{
    display: none;
 }


  #about-me{
  display: block;
}

 #about-me-pic-mobile{
  width: auto;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
 }

#contact-section{
  display: block;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  top: -50px;
  width: 90%;
  margin-left: 5%;
  border-radius: 5px;
  z-index: -1;
}
    
}
