/* Overall Background */
 /* Hover Button Background Info */


    

body{ 

    /*background-image: url(images/download.jpeg) asdf */
    background-color: white; 

   /* background-image: url(images/download.jpeg) */
}

/* Title Font */
h1{
    /*background-color:white; */
   
    font-family: 'Abril Fatface', cursive;
    margin-top:50px;
    padding-top:30px;
    padding-bottom:23px;
    text-align:center;
    border-bottom: 5px dotted #555555;

}

h4 {
  font-size: 22px;
}
h3 {
  font-size: 28px;
}



p {

   /* text-align:center;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;*/
    text-align:center;
}

h2 {
    color:white;
    background-color: black;
    padding: 20px;
    font-family: 'Abril Fatface', cursive;
    text-align:center;
    }
h3 {
   /* text-align:center; */
}
img {
    width:355px;
    height:355px;
    border-style: solid;
    border-color: #FFEC8F;
    border-width: 7px;

}

/* Personal Flavour */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*padding-top: 25px; */
}

.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Separator */
 
.separator {

  margin-bottom: 1.7em;
  padding-bottom: 1.7em;
  text-align: center;

}

.separator:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  width: 86px;
  height: 2px;
  background-color: #222;
 
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.separator.orange:before {
  background-color: #d87843;
}

 /*Normal Button */
.button.inverted {
  font-size: inherit;
  padding: 25px 70px;
  color: white;
  height: auto;
  border: 3px solid yellow;
  text-transform: none;
  font-size: 26px;
  font-family: "Raleway";
  
}


/* Hover Button */
.button.inverted:hover {
  background: url("photo/stripes.png");
  border: 3px solid yellow;
  color: white;
}

/* =Section general styling*/
 
section {
  text-align: center;
  padding: 80px 0;
}
 
/*
 
  Section with featured background image. Every section which will have this
  class will get the effect with a background cover.
 
*/
 
.featured-bg-image {
  position: relative;
  background-color: #222222;
  color: white;
  min-height: 500px;
}
 
.featured-bg-image:before {
  content: '';
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: .5;
}
 
.help:before {
  background: url("../images/help_bg_image.jpg");
}
 
.shop:before {
  background: url("photo/IMG_23342.jpg");
  /*background: url("photo/IMG_32281.png"); */
  background-position: 50% 0;
}

 
.clients {
  background-color: #f4f4f4;
}
 
.footer {
  background-color: #222222;
  color: white;
}
