/* Typography */

@font-face {
  font-family: 'GT-America-Extended-Black';
  src: url('otherCss/fonts/GT-America-Extended-Black.woff') format('woff'),
       url('otherCss/fonts/GT-America-Extended-Black.ttf') format('truetype');
}

  
body.top{
  background-color: #1B2835;
 margin-left: 0px;
       margin-top: 0px;
       margin-right: 0px;
       margin-bottom: 0px;
       height: 100%;
       width: 100%;
       overflow-x: hidden;
      
}

body.top:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: "";
    background-image: url(otherCss/noise.gif);
    opacity: .05;
    z-index: 100000;
    pointer-events: none;
}

::selection {
    background:#df91ad; 
}
::-moz-selection {
    background:#df91ad;
}

/* Title Font */
h1{
    font-family: 'GT-America-Extended-Black';
    color: white;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    width: 400px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*padding-top: 25px; */
}

.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Section general styling*/
 
section {
  text-align: center;
  padding: 10% 0 3%;
}

.footer {
  background-color: #1B2835;
  color: white;
  padding-top: 35px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

//media queries

@media (min-width: 400px)  and (max-width: 750px) {
  .work-items li.isotope-item.columns {
    width: 100%;
  }
}

  @media (min-width: 550px) and (max-width: 750px) {

  .work-items li.isotope-item.columns {
    width: 50%;
  }
}

.hpot {
  display: none;
}



/***************************** loader **********************************/


#loader {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #0e161f;

  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#loader.is_loaded {
  height:0;
  opacity: 0;

  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.loader-eylen{
  position: relative;
  top: 55%;
  text-align: center;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  width:auto;
  height:auto;
  z-index: 5;
  opacity: 0;


  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.loader-eylen img{
  width:100%;
  max-width: 500px;
  height:auto;

 
}

#loader.is_active .loader-eylen{
  opacity: 1;
  top: 50%;

  -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.loader-name h3,.loader-name p{
    position: absolute;
    font-size: 6.5vw;
    opacity: 0;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}


#loader.is_active .loader-name h3{
  opacity: 1;
  top:51%;
  -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}



.loader-name-outline h3{
  /*min-height: 150px;*/
  /*line-height: 100%;*/
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 7;
  font-size: calc(5em + 1vw);
  letter-spacing: -.8rem;
  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.loader-name-base h3{
  /*min-height: 150px;*/
  /*line-height: 100%;*/
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  /*opacity: 0;*/
  color: rgba(255,255,255,0.9);
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  -webkit-text-stroke: none;
  z-index: 4;
  font-size: calc(5em + 1vw);
  letter-spacing: -.8rem;
  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.loader-name-base p{
  padding-left: 70px;
  padding-top: 40px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    _::-webkit-full-page-media, _:future, :root .loader-name-base h3 {
        background-image: none;
    }
}

#loader p{
  margin: -40px 0 0 5.5%;
  text-align: left;
  color: white;
  font-family: 'GT-America-Extended-Black';
  font-weight: normal;
  font-style: normal;
  font-size: calc(1em + .5vw);
  letter-spacing: 0.8px;
  z-index: 6;
  opacity: 0;
}

#loader.is_active p{

  margin-top: 1vw;
  opacity: 1;
  -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0.4s;
}


/* Noise */
.noise{
/*  position: relative;*/
  background-image: url(otherCss/noise.gif);
  opacity: .09;
  height: 100%;
  overflow: scroll;
}

.bounce{
  animation: bounce 3s linear infinite;
  transform-origin: 50% 50%;
  margin: 1rem 0 !important;
}

@keyframes bounce {
  0% { transform: translateY(20px) }
  50% { transform: translateY(0px) }
  100% { transform: translateY(20px) }
}


/***************************** navigation **********************************/

.topnav img {
width: 60px;
left: 35%;
position: absolute;
height: auto;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; 
}

.topnav{
  width: 300px; 
  line-height: 75px;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'GT-America-Extended-Black';
    -webkit-text-stroke: .5px #fff;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.first-pic{
  margin-top: 250px;
}

.section-outline h2{
    min-height: 150px;
  line-height: 100%;
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 6;
  font-size: calc(5em + 1vw);
  float:left;

  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.section-base h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  -webkit-text-stroke: none;
  z-index: 4;
  font-size: calc(5em + 1vw);
  float: left;
  min-height: 150px;
  line-height: 100%;


  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}



.overlap-text h2{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    letter-spacing: .1px;
    text-align: left;
}

.overlap-text.is_active h2{
  transform: translateY(-25%) scale(1.15);
  top:45%;
}


.overlap-text-outline-shop h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1.4px #fff;
  z-index: 7;
  font-size: 5.5vw;
  position: absolute;
  top: -1.7vw;
}

.overlap-text-base-shop h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: -4;
  font-size: 5.5vw;
  position: absolute;
  top: -1.7vw;
}

.overlap-text-outline-portfolio h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1.4px #fff;
  z-index: 7;
  font-size: 5.5vw;
  position: absolute;
  top: -1.7vw;
}

.overlap-text-base-portfolio h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: -4;
  font-size: 5.5vw;
  position: absolute;
  top: -1.7vw;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    _::-webkit-full-page-media, _:future, :root .overlap-text-base h2 {
        background-image: none;
    }
}


.main-image{
  transform: translateY(-50%) translateX(-50%) skewX(-10deg);
  -webkit- transform: translateY(-50%) translateX(-50%) skewX(-10deg);
  z-index: 5;
  opacity: 0;
}

  -moz-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.main-image:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: "";
    background-image: url(otherCss/noise.gif);
    opacity: .05;
    z-index: 100000;
    pointer-events: none;
}

.main-image.load{
  opacity: 1;
  left:22%;
  transform: translateY(-50%) translateX(-50%) skewX(0deg);
  padding-bottom: 150px;

}


.main-image img{
  min-width:30%;
  height:100%;

}

.main-image img{
  -moz-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-image-before img{
  opacity: 1;
  visibility: visible;
}


.main-image-before img , .main-image-after img{
  position: absolute;
}

.main-image-before img{
  z-index: 5;
}
.main-image-after img{
  z-index: 4;
}

.duo-pic{
  width: 100%; 
  height: auto;
}

/* image hover zoom */
img:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1); 
}

img {
    transition: transform .3s;
}


header{
  padding-top: 3vw;
  position: relative;
  left: -70px;
}

#h1-title-span{
  z-index: -500;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1000;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 3rem;
    height: 3rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    font-size: 30px;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

h3{
  color: black;
}

/********* Media Query: Max 549px; **********/
@media only screen and (max-width: 549px) {
.duo-pic{
  width: 100%; 
  height: auto;
  padding-top: 50px;
}

.overlap-text-outline-shop h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1.4px #fff;
  z-index: 7;
  font-size: 50px;
  position: absolute;
  top: 150px;
}

.overlap-text-base-shop h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: 10;
  font-size: 50px;
  position: absolute;
  top: 150px;
}

.overlap-text-outline-portfolio h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: transparent;
  -webkit-text-stroke: 1.4px #fff;
  z-index: 7;
  font-size: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -108.5px;
  margin-left: -130px;
}

.overlap-text-base-portfolio h2{
  font-family:'GT-America-Extended-Black';
  font-weight: 800;
  font-style: normal;
  color: rgba(255,255,255,0.9);
  -webkit-background-clip: text;
  background-image: url(otherCss/noise.gif);
  z-index: 10;
  font-size: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: -82.5px;
  margin-left: -130px;
}

section{
  padding-top: 0px;
}

h1{
  text-align:center;
}

header{
  padding-top: 5vw;
  position: relative;
  left: 0px;
}

#h1-title-span{
  z-index: -500;
  position: relative;
  left: -8px;
}

}