
body{

    /*background-image: url(images/download.jpeg) asdf*/
    background-color: white;

   /* background-image: url(images/download.jpeg) */
}

h1{
    /*background-color:white; */
   
    font-family: 'Abril Fatface', cursive;
    margin-top:50px;
    padding-top:30px;
    padding-bottom:23px;
    text-align:center;
    border-bottom: 5px dotted #555555;

}

p {
   /* text-align:center;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;*/
    text-align:center;
}

h2 {
    color:white;
    background-color: black;
    padding: 20px;
    font-family: 'Sarabun', sans-serif;
    text-align:center;
    }
h3 {
   /* text-align:center; */
}
img {
    width:355px;
    height:355px;
    border-style: solid;
    border-color: #FFEC8F;
    border-width: 7px;

}

