/* Typography */

@font-face {
  font-family: 'GT-America-Extended-Black';
  src: url('otherCss/fonts/GT-America-Extended-Black.woff') format('woff'),
       url('otherCss/fonts/GT-America-Extended-Black.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body.top{
  background-color: #1B2835;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
      
}

body.top:after {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 content: "";
background-image: url(otherCss/noise.gif);
opacity: .05;
 z-index: 100000;
 pointer-events: none;
}

::selection {
    background: #f6f9337a;; 
}
::-moz-selection {
    background:#f6f9337a;;
}

/* Title Font */
h1{
    font-family: 'GT-America-Extended-Black';
    color: white;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    width: 400px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*padding-top: 25px; */
}

.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Section general styling*/
 
section {
  text-align: center;
  padding: 10% 0 3%;
}

.footer {
  background-color: #1B2835;
  color: white;
  padding-top: 35px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/** Muuri SCSS compiled: **/;
@import url(//fonts.googleapis.com/css?family=Montserrat:9000);
*:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
  background-color: #fff;
  color: #999;
}
body a, body a:visited {
  color: white;
  text-decoration: none;
}
body a:hover {
  color: #f6f933e0;
}
h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  color: #53E2E4;
  margin: 10px auto 30px;
}
.filter-controls {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.filter-controls .control {
  display: inline-block;
  width: 240px;
  margin: 0 10px;
}
.filter-controls .control * {
  box-sizing: border-box;
}

.filter-controls .control .form-control {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.filter-controls .control .form-control:focus {
  outline: 0;
  border-color: #0CAAF5;
}



/*.grid {
    width: 100%;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 3;
    height: auto !important;
} */

.item {
    height: auto;
    z-index: 1;
    cursor: pointer;
    margin: 5px;
    overflow: hidden;
    z-index: 1500;
}


.grid {
  position: relative;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  align-items: flex-start;
  margin: 0 5% 0 5%;
}

/**.item {
  max-width: 400px;
  width: 100%;
  height: auto;
  z-index: 1;
  transition: transform 0.6s ease;
  cursor: pointer;
  margin: 5px;
  overflow: hidden;
}

**/

img {
  -o-object-fit: contain;
  object-fit: contain;
}


#portfolio-title-desktop{
  color:white;
  font-size: 1.5vw;
  margin-left: 20px;
  margin-top: 2%;
  display: block;
}

#portfolio-title-mobile{
  display: none;
}

#footer{
  width: 100%;
  padding: 10% 0 0 0;
}

 .about-contact-text{
  font-size: 1.3vw;
  float: right;
  text-align: right;
  padding-top: 0px;
  display:block;
  color:white;
  line-height: 5px;
 }


.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.main-navigation{
  display: none;
}

.crop {
 height: 350px !important;
 width: 350px !important;
 overflow: hidden;
 object-fit: cover;
}
.crop img {
 height: auto;
 width: 400px;
}


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:50;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

img.lazy {
    display: block;
    border: 0;
    opacity: 0;
    width: 220px;
    height: 280px;
}
img:not(.initial) {
    transition: opacity 1s;
}
img.initial,img.loaded,img.error {
    opacity: 1;
}

img:not([src]) {
    visibility: hidden;
}

.modal-content-contact-2 {
    position: absolute;
    top: 320%;
    z-index: 10;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 4.8rem;
    border-radius: 0.5rem;
    height: 300px;

}

.modal-content-contact-2 h3{
  padding: 15px 35px 0px 35px;
  font-family:'GT-America-Extended-Black';
  line-height: 40px;
  text-align: center;
}

.modal-content-contact-portfolio {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 4.8rem;
    border-radius: 0.5rem;
    height: 300px;

}

.modal-content-contact-portfolio h3{
  padding: 15px 35px 0px 35px;
  font-family:'GT-America-Extended-Black';
  line-height: 40px;
  text-align: center;
}

.crop-shop{
    height: 313px !important;
    width: 313px !important;
    overflow: hidden;
    object-fit: cover;
}

.price-tag {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 25px;
    background-color: black;
    color: white;
    z-index: 5;
}

@media (min-width: 576px) {
  .modal-wide{
    max-width: 850px !important;
  }
}
/*************** Media Query: Mobile; *******************/
@media only screen and (max-width: 549px) {
#portfolio-title-desktop{
  display: none;
}

#portfolio-title-mobile{
  color: white;
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 4% 0 15% 0;
}

.grid {
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 1;
    height: auto !important;
}

.main-navigation{
  display: block;
}

 .about-contact-text{
  display: none;
 }

/* =Navigation
-------- */

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 3;
  width: 100%;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.navigation.active {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.navigation ul {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background-image: url(photo/trianglenav.png);
  background-repeat: no-repeat;
  background-size: 147% 600px;
}

#nav-x {
position: relative;
    top: -25px;
    left: 75%;
    color: white;
    font-size: 70px;
}

#nav-x:hover{
color:#f6f933e0;;
}


.navigation ul li {
display: block;
    text-align: center;
    margin: 0;
    padding: 4px;
    position: relative;
    top: -40px;
    left: 34px;
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: 'Inconsolata', monospace;
    color: white;
    width: 150px;
}

.navigation ul li a {
display: block;
    height: 100%;
    padding: 10px 0;
    text-decoration: none;

    color: white;
    font-size: inherit;
}



/* color for inside the menu */

.navigation ul li a.current,
.navigation ul li a:hover {
  color: #f6f933e0;
  background-color: transparent;
}

.menu-icon {
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0);
}

.navigation .menu-icon {
  color: #F4F4F4;
  font-size: 30px;
  line-height: 1em;
  position: absolute;
  left: 100%;
  padding: 15px;
  -webkit-transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -ms-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}


/* Colored block on the top left corner */

.navigation .menu-icon.active {
  background-color: rgba(0, 0, 0, 0);
  ;
  /* this is the transparent one background-color: rgba(0,0,0, .3); */
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index:50;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */
body{background: #eee ;font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}

.w3-modal-2{
  z-index:500;
  display:none;
  padding-top:100px;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow:auto;
  background-color:rgba(0,0,0,0.4); 
}

.crop {
 height: auto !important;
 width: 100% !important;
 overflow: hidden;
}
.crop img {
 height: auto;
 width: 100%;
}

#top > nav > ul > li:nth-child(3) > div,
#top > nav > ul > li:nth-child(2) > div {
    padding: 4.5px;
    font-size: 1em;
    line-height: 1.8;
    width: 150px;
}

.close {
    float: right;
    width: 3rem;
    height: 3rem;
    line-height: 2.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 40px;
    position: relative;
    right: -35px;
    top: 5px;
    color: transparent;
    -webkit-text-stroke: 1.4px black;

}

.close:hover {
  color: black;
}
 
.modal-content-contact-portfolio {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 4.8rem;
    border-radius: 0.5rem;
    height: 20em;

}



}

