/* Typography */

@font-face {
  font-family: 'GT-America-Extended-Black';
  src: url('otherCss/fonts/GT-America-Extended-Black.woff') format('woff'),
       url('otherCss/fonts/GT-America-Extended-Black.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body.top{
  background-color: #1B2835;
 margin-left: 0px;
       margin-top: 0px;
       margin-right: 0px;
       margin-bottom: 0px;
       height: 100%;
       width: 100%;
       overflow-x: hidden;
      
}

body.top:after {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    content: "";
    background-image: url(otherCss/noise.gif);
    opacity: .05;
    z-index: 100000;
    pointer-events: none;
}

::selection {
    background:#df91ad; 
}
::-moz-selection {
    background:#df91ad;
}

/* Title Font */
h1{
    font-family: 'GT-America-Extended-Black';
    color: white;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    width: 400px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*padding-top: 25px; */
}

.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Section general styling*/
 
section {
  text-align: center;
  padding: 10% 0 3%;
}

.footer {
  background-color: #1B2835;
  color: white;
  padding-top: 35px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/** MUURI API CSS **/
 // ******************************
// Normalize (ignore me!)
// ******************************
@import url(//fonts.googleapis.com/css?family=Montserrat:9000);
$fonts:Arial,"Hiragino Kaku Gothic Pro W3",Meiryo,sans-serif;
$web_fonts:'Montserrat', sans-serif;
$bg_color:#fff;
$font_color:#999;
$link_color:#999;
$link_hover_color:#777;

* {
  &:before,
  &:after{
    box-sizing:border-box;
    padding:0;
    margin:0;
  }
}
body{
  font-family:$fonts;
  background-color:$bg_color;
  color: $font_color;
  text-align: center;
  a, a:visited{
    color: $link_color;
    text-decoration:none;
  }
  a:hover{
    color: $link_hover_color;
  }
}
// ******************************
// End of Normalize
// ******************************

h1{
  font-size:36px;
  font-family:$web_fonts;
  color:#53E2E4;
  margin:10px auto 30px;
}
.filter-controls{
  color: white;
  text-align:center;
  margin-bottom:30px;
  .control{
    display:inline-block;
    width:240px;
    margin:0 10px;
    *{
      box-sizing:border-box;
    }
    .form-control{
      width:100%;
      height:40px;
      padding:0 20px;
      border:2px solid #ccc;
      border-radius:3px;
      background-color:#fff;
      color:#666;
      font-size:16px;
      cursor:pointer;
      -webkit-appearance:none;
      appearance:none;
      &:focus{
        outline:0;
        border-color:#0CAAF5;
      }
    }
  }  
}

.grid {
  position: relative;
  max-width: 100%;
  margin: 0 3%;
}
.item {
  position: absolute;
  width: 250px;
  height: 259px;
  margin: 3%;
  z-index: 1;
  transition:transform .6s ease;
  cursor:move;
  &.photography{
    .custom-content{
      border-color:#0CAAF5;
      color:#0CAAF5;
    }
  }
  &.printmaking{
    .custom-content{
      border-color:#F54487;
      color:#F54487;
    }
  }
  &.acrylic{
    .custom-content{
      border-color:#00DE73;
      color:#00DE73;
    }
  }
  &.w2{
    width:208px;
  }
  &.h2{
    height:208px;
  }
}
.item-content {
  position: relative;
  width: 100%;
  height: 100%;
  display:table;
}
.custom-content{
  display:table-cell;
  vertical-align:middle;
  text-align: center;
  background: #fff;
  color: #666;
  border:2px solid;
  border-radius:3px;
}

// If use dragging
.item.muuri-item-dragging {
  z-index: 3;
  transition:none;
}
.item.muuri-item-releasing {
  z-index: 2;
}

@media ( max-width : 877px ){
  .item{
    width:calc(33.33% - 11px);
    height:calc(33.33vw - 11px);
    &.w2{
      width:calc(33.33% - 11px);
    }
    &.h2{
      height:calc(33.33vw - 11px);
    }
  }
}
@media ( max-width : 640px ){
  .item{
    width:calc(50% - 10px);
    height:calc(50vw - 10px);
    &.w2{
      width:calc(50% - 10px);
    }
    &.h2{
      height:calc(50vw - 10px);
    }
  }
}