/* Typography */

@font-face {
  font-family: 'GT-America-Extended-Black';
  src: url('otherCss/fonts/GT-America-Extended-Black.woff') format('woff'),
       url('otherCss/fonts/GT-America-Extended-Black.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body.top{
  background-color: #1B2835;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
      
}

body.top:after {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 content: "";
background-image: url(otherCss/noise.gif);
opacity: .05;
 z-index: 100000;
 pointer-events: none;
}

::selection {
    background:#df91ad; 
}
::-moz-selection {
    background:#df91ad;
}

/* Title Font */
h1{
    font-family: 'GT-America-Extended-Black';
    color: white;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    width: 400px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*padding-top: 25px; */
}

.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Section general styling*/
 
section {
  text-align: center;
  padding: 10% 0 3%;
}

.footer {
  background-color: #1B2835;
  color: white;
  padding-top: 35px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/** Muuri SCSS compiled: **/;
@import url(//fonts.googleapis.com/css?family=Montserrat:9000);
*:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
  background-color: #fff;
  color: #999;
}
body a, body a:visited {
  color: #999;
  text-decoration: none;
}
body a:hover {
  color: #777;
}
h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  color: #53E2E4;
  margin: 10px auto 30px;
}
.filter-controls {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.filter-controls .control {
  display: inline-block;
  width: 240px;
  margin: 0 10px;
}
.filter-controls .control * {
  box-sizing: border-box;
}
.filter-controls .control .form-control {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
.filter-controls .control .form-control:focus {
  outline: 0;
  border-color: #0CAAF5;
}
.grid {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10%;
  margin-left: 10%;
}

.item {
  position: absolute;

  z-index: 1;
  transition: transform 0.6s ease;
  cursor: pointer;
}

.item.w2 {
  width: 208px;
}
.item.h2 {
  height: 208px;
}


@media (max-width: 877px) {
  .item {
    width: calc(33.33% - 11px);
    height: calc(33.33vw - 11px);
  }
  .item.w2 {
    width: calc(33.33% - 11px);
  }
  .item.h2 {
    height: calc(33.33vw - 11px);
  }
}
@media (max-width: 640px) {
  .item {
    width: calc(50% - 10px);
    height: calc(50vw - 10px);
  }
  .item.w2 {
    width: calc(50% - 10px);
  }
  .item.h2 {
    height: calc(50vw - 10px);
  }
}




img {
  max-width:400px !important;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.item-content {
    width: 100%;
    height: auto;
    cursor: pointer;
    overflow: hidden;
    padding-bottom: 5%;

}
.item-content:hover .img-content-hover {
  display: block;
}


/** MUURI API CSS 
* {
  &:before,
  &:after{
    box-sizing:border-box;
    padding:0;
    margin:0;
  }
}

h1{
  font-size:36px;
  font-family:$web_fonts;
  color:#53E2E4;
  margin:10px auto 30px;
}
.filter-controls{
  color: white;
  text-align:center;
  margin-bottom:30px;
  .control{
    display:inline-block;
    width:240px;
    margin:0 10px;
    *{
      box-sizing:border-box;
    }
    .form-control{
      width:100%;
      height:40px;
      padding:0 20px;
      border:2px solid #ccc;
      border-radius:3px;
      background-color:#fff;
      color:#666;
      font-size:16px;
      cursor:pointer;
      -webkit-appearance:none;
      appearance:none;
      &:focus{
        outline:0;
        border-color:#0CAAF5;
      }
    }
  }  
}

.grid {
  position: relative;
  max-width: 100%;
  margin: 0 3%;
}
.item {
  position: absolute;
  width: 250px;
  height: 259px;
  margin: 3%;
  z-index: 1;
  transition:transform .6s ease;
  cursor: pointer;
  padding: 0 2% 0 2%;
  }

.item-content {
  position: relative;
  width: 25vw;
  height: auto;
  display:table;
}
.custom-content{
  display:table-cell;
  vertical-align:middle;
  text-align: center;
  background: #fff;
  color: #666;
  border:2px solid;
  border-radius:3px;
}


@media ( max-width : 877px ){
  .item{
    width:calc(33.33% - 11px);
    height:calc(33.33vw - 11px);
    &.w2{
      width:calc(33.33% - 11px);
    }
    &.h2{
      height:calc(33.33vw - 11px);
    }
  }
}
@media ( max-width : 640px ){
  .item{
    width:calc(50% - 10px);
    height:calc(50vw - 10px);
    &.w2{
      width:calc(50% - 10px);
    }
    &.h2{
      height:calc(50vw - 10px);
    }
  }
}