/* Typography */

@font-face {
  font-family: 'GT-America-Extended-Black';
  src: url('otherCss/fonts/GT-America-Extended-Black.woff') format('woff'),
       url('otherCss/fonts/GT-America-Extended-Black.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

body.top{
  background-color: #1B2835;
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
      
}

body.top:after {
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 content: "";
background-image: url(otherCss/noise.gif);
opacity: .05;
 z-index: 100000;
 pointer-events: none;
}

::selection {
    background:#df91ad; 
}
::-moz-selection {
    background:#df91ad;
}

/* Title Font */
h1{
    font-family: 'GT-America-Extended-Black';
    color: white;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    width: 400px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*padding-top: 25px; */
}

.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

/* Section general styling*/
 
section {
  text-align: center;
  padding: 10% 0 3%;
}

.footer {
  background-color: #1B2835;
  color: white;
  padding-top: 35px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



/** Muuri SCSS compiled: **/;
@import url(//fonts.googleapis.com/css?family=Montserrat:9000);
*:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, "Hiragino Kaku Gothic Pro W3", Meiryo, sans-serif;
  background-color: #fff;
  color: #999;
}
body a, body a:visited {
  color: white;
  text-decoration: none;
}
body a:hover {
  color: #f6f933e0;
}
h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  color: #53E2E4;
  margin: 10px auto 30px;
}
.filter-controls {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}
.filter-controls .control {
  display: inline-block;
  width: 240px;
  margin: 0 10px;
}
.filter-controls .control * {
  box-sizing: border-box;
}

.filter-controls .control .form-control {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  color: #666;
  font-size: 16px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}

.filter-controls .control .form-control:focus {
  outline: 0;
  border-color: #0CAAF5;
}



.grid {
    width: 100%;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 3;
    height: auto !important;
}

.item {
    height: auto;
    z-index: 1;
    cursor: pointer;
    margin: 5px;
    overflow: hidden;
}

/**
.grid {
  position: relative;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  align-items: flex-start;
  margin: 0 5% 0 5%;
}

.item {
  max-width: 400px;
  width: 100%;
  height: auto;
  z-index: 1;
  transition: transform 0.6s ease;
  cursor: pointer;
  margin: 5px;
  overflow: hidden;
}

**/

img {
  max-width:400px !important;
       -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.item img:hover {
  -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

.item-content {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;

}

#portfolio-title-desktop{
  color:white;
  font-size: 1.5vw;
  margin-left: 20px;
  margin-top: 2%;
  display: block;
}

#portfolio-title-mobile{
  display: none;
}

#footer{
  width: 100%;
  padding: 15% 0 5% 0;
}

 .about-contact-text{
  font-size: 1.3vw;
  float: right;
  text-align: right;
  padding-top: 0px;
  display:block;
  color:white;
  line-height: 5px;
 }


.home-desktop{
  cursor: pointer; 
  line-height: .75;
  margin-bottom: 1.55vw;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*************** Media Query: Mobile; *******************/
@media only screen and (max-width: 549px) {
#portfolio-title-desktop{
  display: none;
}

#portfolio-title-mobile{
  color: white;
  font-size: 20px;
  display: block;
  text-align: center;
  margin: 4% 0 15% 0;
}

.grid {
    width: 100%;
    display: -ms-flexbox;
    -ms-flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 1;
    height: auto !important;
}

}

